header {
    z-index: 1;
}

main {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.recomendacao-moradia:not(:last-child) {
    margin-bottom: 34px;
}

.recomendacao-moradia h2 {
    padding-left: 21px;
}

.recomendacao-moradia>div {
    display: flex;
    overflow-x: auto;
    padding-bottom: 13px;
}

.anuncio {
    margin-right: 21px;
}

.anuncio:first-child {
    margin-left: 21px;
}

.anuncio * {
    margin: 0;
}

.anuncio-imagem {
    height: 200px;
    width: 200px;
    border-radius: 21px;

    padding: 21px;

    display: flex;
    justify-content: space-between;

    background-size: cover;

    transition: all .2s ease-in-out;
}

span.favorite {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 8px;
    border-radius: 8px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, .5);
    height: fit-content;
    color: black;
    font-weight: 600;
}

.heart-container {
    position: relative;
}

.heart-container .heart {
    position: absolute;
    z-index: 0;
    top: 5px;
    right: 0;
    scale: 1.5;
    transition: scale .2s;
}

.heart-container:hover .heart {
    scale: 2;
}

.heart-container .heart-outline {
    color: white;
}

.anuncio p {
    text-transform: capitalize;
    font-weight: bold;
}