body {
  font-size: 20px;
  margin: 0em;
  background-color: #f5f5f5;
  height: 88%;
}

#star-ico {
  color: yellow;
  text-shadow: 0 0 2px black;
}

body>h1 {
  margin: 6rem 0 0 0;
  color: #237caf;
  font-size: 2rem;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  width: 100%;
  height: 100%;
  margin-top: 1rem;

  box-sizing: border-box;
}

.img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 36rem;
  text-align: center;
  width: 80%;
  margin-bottom: 1rem;
}

.show-img {
  border-radius: 1rem;
  padding: 1rem;
  border: 0.1em solid #237caf;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #f0f6fe;
  width: 100%;
}

.show-img img {
  border-bottom: 0;
}

.show-img p {
  margin-top: 0;
  font-size: x-large;
}

.img-republica {
  max-width: 100%;
  height: auto;
  border-radius: 0.5rem;
}