body {
  margin: 0;
  background-color: #f5f5f5;
}

#star-ico {
  color: yellow;
  text-shadow: 0 0 2px black;
}

body > h1 {
  margin: 60px 0 0 30px;
  color: #237caf;
  font-size: 40px;
  text-align: center;
}

main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  width: 100%;
  margin-top: 30px;

  box-sizing: border-box;
}

main > div {
  height: 650px;
  margin-right: 8%;
}

.img-container {
  display: flex;
  justify-content: space-between;
  flex: 1;
  margin-left: 30px;
  text-align: center;
  width: 60%;
}

.show-img {
  border-radius: 20px;
  padding: 20px;
  border: 2px solid #237caf;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f0f6fe;
}

.show-img p {
  margin-left: 20px;
  font-size: x-large;
}

.show-img:not(:last-child) {
  margin-right: 30px;
}

.img-republica {
  height: 70%;
  border-radius: 10px;
}

img:active {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.3);
}
