body {
    margin: 0;
    background-color: #f5f5f5;
}

#star-ico {
    color: yellow;
    text-shadow: 0 0 2px black;
}

body > h1 {
    margin: 80px 0 0 30px;
    color: #237caf;
    font-size: 50px;
}

main {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    margin-top: 50px;

    box-sizing: border-box;
}

main > div {
    height: 600px;
    margin-right: 30px;
}

.img-container {
    display: flex;
    justify-content: space-between;
    flex: 1;
    margin-left: 30px;
}

.show-img {
    border-radius: 20px;
    padding: 20px;
    border: 2px solid #237caf;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.show-img p {
    margin-left: 20px;
    font-size: x-large;
}

.show-img:not(:last-child) {
    margin-right: 30px;
}

.img-republica {
    height: 90%;
    border-radius: 10px;
}
