header {
  z-index: 1;
}

/* Sections da main */
main {
  color: black;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  margin: 80px;
}

/* Informações da UFES */
.imagem_ufes {
  position: fixed;
  width: 100%;
  z-index: -1;
  top: 50%;
  transform: translateY(-50%);
  opacity: 20%;
}

.conteudo {
  display: flex;
  flex-direction: column;
  gap: 21px;
  padding-bottom: 30px;
}

.conteudo:not(:last-child) {
  border-bottom: 2px dashed gray;
}

.texto_item {
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
}

.ufes_conteiner {
  display: flex;
  justify-content: center;
}

.info_ufes {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-right: 10px;
  width: 50%;
}

.texto_ufes {
  background-color: lightblue;
  border: 2px solid black;
  border-radius: 20px;

  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.info_ufes h3 {
  margin: 0;
}

.info_ufes a {
  color: blue;
}

.cardapio {
  border-radius: 10px;
  width: 390px;
  filter: drop-shadow(0 0 5px black);
}

/* Previsão do tempo */
.secao-previsao {
  display: flex;
  justify-content: center;
}

.previsao {
  max-width: 80%;
  width: 800px;
  filter: drop-shadow(0 0 5px black);
  border-radius: 10px;
}

/* Prioridades */
.prioridades-container {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: auto;

  gap: 20px;
}

.lista-contato {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.lista-contato li {
  display: flex;
  flex-direction: column;

  border-radius: 10px;
  box-shadow: 0 0 5px black;
  background-color: rgb(255, 255, 255);

  width: 300px;
  padding: 10px;

  align-items: center;
}

.lista-contato li .name {
  font-weight: bold;
}

.lista-contato li .tel {
  font-style: italic;
  text-decoration: underline;
}

.promocoes_semanal {
  font-size: 1.5rem;
}

.promocao {
  height: 60vh;
  border-radius: 10px;
  filter: drop-shadow(0 0 5px black);
}
