@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    font-family: "Roboto", sans-serif;
    color: white;
}

html, body, main {
    height: 100%;
}

body {
    background-color: rgb(39, 39, 39);
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.corpo-cadastro {
    flex-direction: column;
    padding: 2rem 3rem;

    border-radius: 3rem;

    box-shadow: 
        3px 3px 21px rgba(0, 0, 0, .8), 
        -3px -3px 21px rgba(255, 255, 255, .2);

    position: relative;
}

.button {
    background-color: rgb(47, 47, 47);
    border: 1px solid rgb(45, 45, 45);
    border-radius: 5px;
    font-size: 1rem;
    padding: .8rem 3.4rem;

    border-radius: 2rem;
    box-shadow: 
        1px 1px 5px rgba(0, 0, 0, .5),
        -.5px -.5px 5px rgba(255, 255, 255, .2),
        inset 1px 1px 5px rgba(0, 0, 0, .8),
        inset -.5px -.5px 5px rgba(255, 255, 255, .3);

    
    transition: box-shadow .3s ease-in-out;
}

.button:not(:last-child) {
    margin-right: 1rem;
}

.button:hover {
    box-shadow: 
        0 0 0 rgba(0, 0, 0, .8),
        0 0 0 rgba(255, 255, 255, .3),
        inset 2px 2px 8px rgba(0, 0, 0, .8),
        inset -1px -1px 8px rgba(255, 255, 255, .3);
}

.go-back {
    position: absolute;
    left: 2rem;
    top: 2rem;

    text-decoration: none;
    font-size: 2rem;
    text-align: center;
    
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    padding: 0;
}

.corpo-cadastro>h1 {
    margin-bottom: 2rem;
    display: block;
    width: 80%;
    text-align: center;
}

form {
    width: 70%;
    flex-direction: column;
}

form>div {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 1rem;
}

form label {
    font-weight: bold;
    padding-left: 8px;
    margin-bottom: 5px;
}

.sub-label {
    font-size: x-small;
    display: block;
    font-weight: normal;
}

form input, form textarea {
    border-radius: 8px;
    padding: 5px 13px;
    color: black;
}

.button-container {
    flex-direction: row;
}