body {
    width: 100vw;
    height: 100vw;
    margin: 0;
}

@keyframes animation1 {
    0% {
        transform: rotateX(0);
    }

    100% {
        transform: rotatex(90deg);
    }
}
@keyframes animation2 {
    0% {
        transform: rotateX(-90deg);
    }

    100% {
        transform: rotatex(0deg);
    }
}

.rotating-text {
    position: absolute;
    display: inline;
}

#rot-text-1 {
    animation: animation1 1s both;
}

#rot-text-2 {
    animation: animation2 1s 1s both;
}