@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html, body {
    font-family: "Roboto", sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.button {
    background-color: #1d6a96;
    border: 1px solid #1d6a96;
    border-radius: 0.4rem;
    font-size: 1rem;
    padding: .8rem 3.4rem;

    border-radius: 2rem;
    box-shadow: 
        0.1rem 0.1rem 0.4rem rgba(0, 0, 0, .5),
        -0.1rem -0.1rem 0.4rem #2a9cdd,
        inset 0.1rem 0.1rem 0.4rem rgba(0, 0, 0, .8),
        inset -0.1rem -0.1rem 0.4rem #2a9cdd;

    
    transition: .1s ease-in-out;
}

.button:active {
    box-shadow: 
        0 0 0 rgba(0, 0, 0, .8),
        .5px .5px 13px #2a9bdd93,
        inset 2px 2px 8px rgba(0, 0, 0, .8),
        inset -2px -2px 8px #2a9cdd;
}

.badge-circular {
    background-color: #fff;
    padding: 8px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    color: #1d6a96;
}