@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    font-family: "Roboto", sans-serif;
    color: white;
}

html, body, main {
    height: 100%;
    width: 100%;
}

body {
    background-color: #1d6a96;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    height: 80%;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 90%;
}

.colunas{
    border-radius: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    box-shadow: 
        3px 3px 15px rgba(0, 0, 0, .5), 
        -3px -3px 15px #2997d6;
    
    height: 80%;
    max-width: 80%;
    padding: 1rem 2rem;
    
}

.colunas div{
    margin-bottom: 0.5rem;
}

.corpo-cadastro {
    display: flex;
    flex-wrap: wrap;
    padding: 0.5rem 3rem 2rem 3rem;

    border-radius: 3rem;

    box-shadow: 
        3px 3px 15px rgba(0, 0, 0, .5), 
        -3px -3px 15px #2997d6;

    position: relative;

}

.button:not(:last-child) {
    margin-right: 1rem;
}

.go-back {
    position: absolute;
    left: 2rem;
    top: 2rem;

    text-decoration: none;
    font-size: 2rem;
    text-align: center;
    
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    padding: 0;
}

.corpo-cadastro>h1 {
    margin-bottom: 0.5rem;
    display: block;
    width: 100%;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

form>div {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1.5rem;
}

form label {
    font-size: larger;
    font-weight: bold;
    padding-left: 8px;
    margin-bottom: 5px;
}

.sub-label {
    font-size: x-small;
    display: block;
    font-weight: normal;
    margin-bottom: 5px;
}

form input, form textarea {
    border-radius: 8px;
    padding: 0.2rem 4rem;
    color: black;
}

.button-container {
    flex-direction: row;
    justify-content: center;
    margin: 0;
}

p {
    font-weight: bold;
    padding-left: 8px;
    text-align: center;
}

.radio p {
    font-weight: bold;
    padding-left: 8px;
    text-align: left;
    display: inline;
}